<!doctype html5>
<html>
    <head>
        <title>My Flask Application</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Hello, World!</h1>
        <p>This is the index page!</p>
        <p><a href="/spam-or-ham">Check if a message is spam or ham?</a></p>
        <p><a href="/greeting">Get greeted?</a></p>
        <p><a href="/roll-dice">Feeling lucky? (type the number of dice you want to roll in the URL after /roll-dice/)</a></p>
    </body>
</html>